<!-- OVERVIEW -->
<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
      <h3 class="panel-title">{{title}}</h3>

    </div>
    <div class="panel-body">
      <div id="message"></div>
      <div class="row mb-3">
        <div class="col-md-4">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info btn-block btn-lg" data-toggle="modal"
           data-target="#modalUsuario" style="margin-bottom: 20px">
            Agregar
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped" id="tblUsuarios">
          <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acceso</th>
            <th>Hasta</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr>
              <td>Adrian</td>
              <td>Cruz</td>
              <td>Adriansip</td>
              <td>adrian.cruz.islas@gmail.com</td>
              <td>Usuario</td>
              <td>2019-05-29 01:07:01</td>
              <td>2019-12-31</td>
              <td>
                <button name="btnEditar" id="btnEditar" class="btn btn-sm btn-info"><i class="lnr lnr-pencil"></i></button>
                <button name="btnEditar" id="btnEditar" class="btn btn-sm btn-danger"><i class="lnr lnr-trash"></i></button>
              </td>
            </tr>
            <tr>
              <td>Adrian</td>
              <td>Cruz</td>
              <td>Adriansip</td>
              <td>adrian.cruz.islas@gmail.com</td>
              <td>Usuario</td>
              <td>2019-05-29 01:07:01</td>
              <td>2019-12-31</td>
              <td>
                <button name="btnEditar" id="btnEditar" class="btn btn-sm btn-info"><i class="lnr lnr-pencil"></i></button>
                <button name="btnEditar" id="btnEditar" class="btn btn-sm btn-danger"><i class="lnr lnr-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END OVERVIEW -->
  <app-usuario-modal></app-usuario-modal>